@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

body {
  min-width: 1010px;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: 600;
}

ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: #1F2937;
  color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 512px;
}

.header .menu {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  max-width: 1010px;
  width: 100%;
}

.header .logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 1000;
}

.header .hero {
  display: flex;
  gap: 48px;
  margin-top: 100px;
}

.header .hero .text {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.header .hero .text h2 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.header .hero button {
  max-width: 128px;
  margin-top: 16px;
  height: 35px;
  border-radius: 10px;
  border: none;
}

.header .hero img {
  background-color: #6D747D;
  text-align: center;
  align-content: center;
}

.info,
.quote {
  color: #1F2937;
}

.info h2 {
  font-size: 36px;
  font-weight: 900;
}

.quote {
  background-color: #E5E7EB;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.quote .citation {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.action {
  background-color: #3882F6;
  color: #E5E7EB;
}

.action h2 {
  color: #F9FAF8;
  font-size: 24px;
}

.footer {
  background-color: #1F2937;
  color: #E5E7EB;
}